//colors
$color-primery: #55c57a;
$color-primery-light: #7ed56f;
$color-primery-dark: #28b485;
$color-white: white;
$color-lighGrey: #777;
$color-black: black;
$color-VerylightGrey: #f7f7f7;
$color-grey-dark:#333;

$color-oragnge-light: #ffb900;
$color-oragnge-dark: #ff7730;
$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;



//Fonts
$default-font-size: 1.6rem;
