  .composition {
  position: relative;

  &_photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: 0.2s;
    outline-offset: 2rem;

    &__p1 {
      left: 0;
      top: -2rem;
    }
    &__p2 {
      right: 0;
      top: 2rem;
    }
    &__p3 {
      top: 10rem;
      left: 20%;
    }
    &:hover {
      outline: 1.5rem solid $color-primery;
      transform: scale(1.15) translateY(0.5rem);
      box-shadow: 0 2.5rem 5rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }
  &:hover &_photo:not(:hover) {
    transform: scale(0.9);
  }
}
