.story {
  width: 57%;
  margin: 0 auto;
  background-color: $color-white;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  border-radius: 3px;
  padding: 6rem;
  transform: skewX(-12deg);

  &-shape {
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: $color-primery;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem), skewX(15deg);
    top: 50%;
    margin: 0;

    &-img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  &-text {
    transform: skewX(12deg);
  }
}
